
body {
    background-color: beige;
}

h1 {
    color: red;
    font-size: 90px;
    text-decoration: underline;
    font-family: calibri
}

h2 {
    color: orange;
    font-size: 40px;
    text-decoration: underline;
    font-family: Arial
}

p {  
    font-size: 60px;
    font-family: Calibri;
}



#First {
    background-color: aquamarine;
}

.small {
    font-size: 12px;
}

h2 {
    font-size: 60px
}

span {
    font-style: italic;
}

h2 span {
    font-size: 80px;
    color: pink;
    text-decoration: underline line-through;
    text-decoration-color: yellow;
}
